{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="masthead rel-1 masked ccn-exploded-bg" data-stellar-background-ratio="0.6">
    {% if content.field_image|render %}
      <div class="ccn-bg-img">{{ content.field_image }}</div>
    {% endif %}<div class="ccn-exploded-bg-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {% block content %}
          {{ title_prefix }}{% if label %}{{ label }} {% endif %}{{ title_suffix }}
          <h1>
            {{ content.field_title }} <strong>{{ content.field_title_2 }}</strong>
          </h1>
          {% if content.field_plain_body|render %}
            <p class="lead text-muted">{{ content.field_plain_body }}</p>
          {% endif %}
          {% if content.field_button_text|render %}
            <p class="lead"><a href="{{ content.field_button_link }}" data-toggle="modal" class="btn">{{ content.field_button_text }}</a></p>
          {% endif %}
        {% endblock %}
        </div>
      </div>
    </div></div>
  </div>
</div>
