{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes).addClass('container') }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <div class="row">
      <header class="text-center col-md-6 col-md-offset-3">
        {{ header }}
      </header>
    </div>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  <div class="section-content">
    <div class="row-spec row">
      {{ rows }}
    </div>
  </div>

  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
      {{ footer }}
  {% endif %}

  {{ feed_icons }}
</div>
